<h3>Users</h3>
<a class="btn btn-primary" style="margin-bottom: 10px;" [routerLink]="['AddUser']">Add User</a>
<table class="table table-bordered">
<thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let user of users; let i = index">
    <td>{{ user.name }} </td>
    <td>{{ user.email }} </td>
    <td> <a [routerLink]="['EditUser', {id: user.id}]" ><i class="material-icons">edit</i></a></td>
    <td> <i class="material-icons" (click)="deleteUser(i)">delete</i></td>
  </tr>
</thead>
</table>
